

.mt-20 {
   margin-top: 20px
}
*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  }
body{
    background-color: white;
  }
.header{
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../img/cover.jpeg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  padding-top: 500px;
}
h4{
  color: white;
  margin-left: 10%;
  font-size: 38px;
  text-align: center;
  margin-top: auto;
}

body{
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: sans-serif;
}
.landing{
  width: 1280px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.landing .box{
  position: relative;
  width: 300px;
  height: 300px;
  background: white;
  margin: 5px;
  box-sizing: border-box;
  display: inline-block;
}
.landing .box .imgBox{
  position: relative;
                       //remover this or return overflowhidden
}
.landing .box .imgBox img{   //incase of problem start here

  transition:transform 2s;
}
.landing .box:hover .imgBox img{
  transform: scale(1.2);
}
.landing .box .details{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: rgba(0, 0, 0, 0.5);
transform: scaleY(0);
transition: transform .5s;

}
.landing .box:hover .details{
  transform: scaleY(1);


}
.landing .box .details .content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #fff;
}
.landing .box .details h5{
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: white;
}

.img-rescale {
  width: 260px;
  height: auto;
}
.contact-wrap{
  width: 80%;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.contact-in{
  padding: 40px 30px;
  flex: 30%;
  background-image: url('../img/back.jpg');
  background-repeat:no-repeat;
  color: white;
  background-position: center;


}
.contact-in h2{
  font-size: 24px;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 20px;

}
.contact-in h3{
  font-size: 20px;
  color: black;
  font-weight: 400;
  margin-bottom: 15px
}
.contact-int iframe{
  align-content: center;
   width: 100%;
   height: 100%;
}
